<div style="margin-bottom:0px;background-color:#faf7f5;">
    <h2 class="beanheading">${properties.beanheading}</h2>
<div class="quizparent"> 
	<div class="leftbean">
		<img class="beanimgleft" src="${properties.leftimage}">
        <div class="leftbeandesc">
			<h2>${properties.lefttitle}</h2>
            <p class="favpara">${properties.leftdesc}</P>
        </div>
    </div>
<h1 class="favcenter">OR</h1>
    <div class="rightbean">
		<img class="beanimgright" src="${properties.rightimage}">
        <div class="rightbeandesc">
			<h2>${properties.righttitle}</h2>
            <p class="favpara">${properties.rightdesc}</P>
        </div>
    </div>

</div>
<div class="beanbtndiv">
	<a href="${properties.linkURL}" target="blank"><button class="beanbtn">Take Our Quiz</button></a>
</div>
</div>
