<div class="navcon">
	<img class="logoimg" src="/content/dam/secondprojectdemo/beanz-white.svg" width="100px" height="35px">
	<ul class="menucon" data-sly-use.topnav="topnav.js" data-sly-list="${topnav.root.listChildren}">
  		<li class="navli" data-sly-test='${item.title!="Login Page"}'><a  class="${currentPage.Title==item.title ? 'active' : ''}" href="${item.path}.html">${item.title}</a></li>
	</ul>
	<div class="iconcon">
		<div class="navsearch"><input type="text" placeholder=" Search" class="searchfield"></div>
		<a href="#" target="blank"><img class="ricon" src="/content/dam/secondprojectdemo/download1.svg" width="37px" height="37px"></a>
		<a href="#" target="blank"><img class="ricon" src="/content/dam/secondprojectdemo/download.svg" width="37px" height="37px"></a>
		<a href="#" target="blank"><img class="ricon" src="/content/dam/secondprojectdemo/location-usa.svg" width="37px" height="37px"></a>
	</div>
</div>

