<div class="emailnotcon">
	<div class="emailnotrow1">
		<div class="emailnoth1">
			<h1>Keen for more Beanz info?</h1>
		</div>
		<div class="emailnotright">
			<form action="">
				<input type="text" name="" placeholder="Email address (Required)" class="emailnotemailfield">
				<input type="button" value="sign Up" class="emailnotemailsubmit">
			</form>
		</div>
	</div>
	<div class="emailnotrow2">
		<p>Get emails from Beanz about special offers, new roasters and other news. You can unsubscribe at any time. View Beanz <a href="">Privacy Policy</a> and <a href="">Terms of Use</a> </p>
	</div>
</div>