* {
  margin: 0px;
}

.navcon {
  	background-color: #333;
    width:97vw;
    height:40px;
    padding:15px 2% 15px 15px;
  	font-family: "Bitter",sans-serif;
    font-weight: 400;
}

.logoimg {
	float:left;

}

.navli {
  float: left;
}

.navli:hover {
	
  border-bottom-style:solid;
  border-color:#39bbbb;
  border-width: 6px;
  border-radius: 3px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.menucon {
	float:left;
    align-items: center;
    padding:0 1.25rem;
}

.iconcon {
	float:right;
}

.ricon {
	border-radius:50%;
}

.searchfield {
    top:0px;
	width: 100px;
    height: 30px;
    border-radius: 50px;
}

.navsearch {
	margin:10px 20px 20 10px;
    float:left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.workcon {
	width:88%;
    margin:0 6% 0 6%;
}

.card {
	margin:15px!important;
    width:22%;
    height:360px;
    text-align:center;
    float:left;
    font-family: "Montserrat",sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    background:white;
}

.heading {
	text-align:center;
    font-size: 3rem;
    font-family: "Bitter",sans-serif;
    font-weight: bold;
    margin:45px 0!important;
}

.worktitle {
	margin-top:20px!important;
}

.desc {
	display: block;
    font-weight:200;
    font-size: 0.9rem;
    line-height: 1rem;
    margin-top:4%;
}

.cardcon {
	text-align:center;
    padding-bottom:50px;
    width:80%;
    margin-left:12%;
}

.roster-card {
	margin:1%!important;
    width:17%;
    height:250px;
    text-align:center;
    float:left;
    font-family: "Montserrat",sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
    background:white;
    padding: 1.5625rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
    background-color: #fff;
    cursor: pointer;
}

.quizparent {
	display: flex;
    background-color:#faf7f5;
    padding-bottom:10px;
}

.leftbean {
    flex: 50%;
}

.favcenter {
    position:absolute;
    left:49%;
    margin-top:14%;
}

.rightbean {
    flex: 50%;
}

.favpara {
	width:80%;
    margin-top:10px;
}

.beanheading {
	text-align:center;
    font-size: 2rem;
    font-family: "Bitter",sans-serif;
    font-weight: bold;
    background-color:#faf7f5;
    padding-top:50px;
    width:100%;
    height:100px;
}

.beanimgleft {
    width:55%;
	height:450px;
    float:left;
    position: relative;
}

.beanimgright {
    width:55%;
	height:450px;
  	float:right;
}

.leftbeandesc {
	margin-top:100px!important;
    position: absolute;
    left: 30%;
    width:20%;
}

.rightbeandesc {
	margin-top:100px!important;
    position: absolute;
    right: 25%;
    width:20%;
}

.beanbtn {
	height: 50px;
    color: #007584;
    background-color: #ccf2f2;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    border:0;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1.5;
    padding: 0 1.875rem;
}

.beanbtndiv {
    display:inline-block;
    width:100%;
    margin:0px 10px 10px 10px;
    padding-bottom:50px;
    text-align: center;
}

.explorediv {
  	position: relative;
  	text-align: center;
  	color: white;
}

.explorecenter {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
    padding: 1rem 3rem;    
    backdrop-filter: blur(4px);
    width: 65%;
    border-radius: 12px;    
    text-align: center;
    background-color: rgba(0,0,0,.65);
}

.exploreimg {
  object-fit: cover;
}

.exploreheading {
	text-align:center;
    font-size: 1.9rem;
    font-family: "Bitter",sans-serif;
    font-weight: bold; 
    width:100%;
    margin:15px 0;
}

.explorepara {
	font-size: 1rem;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    margin:15px 0;
    padding:0 40px 0 40px;
}

.explorebtn {
	height:51px;
    padding: 0px 1.875rem;
    align-items: center;
    min-width: 190px;
	color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(4px);
    border: 2px solid rgb(0, 131, 132);
    border-radius: 4px;
    font-size: 1.1rem;
    font-family: Montserrat, sans-serif;
    letter-spacing: -0.5px;
    font-weight: bold;
    text-align: center;
    margin:0 0 15px 0;
    line-height: 1.5;
    cursor:pointer;
}

.coffeecon {
	text-align:center;
    width:80%;
    margin:0 10% 0 10%!important;
    padding-bottom:120px;
}

.coffee-card {
	width:40%;
    float:left;
    margin-left:10%!important;
    text-align:left;
    font-family: "Montserrat",sans-serif;
    font-size: 0.8rem;
}

/*-----Card Component----*/
.review {
    background: rgb(255, 255, 255);
    height: auto;
    overflow: hidden;
    width: 100%;
    border-radius: 15px;
    padding: 6%;
    margin: auto;
    margin-top: 30px;
    align-items: center;
    text-align: center;
}

.review__items {
    text-align: center;
    float: left;
    width: 17%;
    padding: 10px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
    height: 280px;
    margin: 20px;
    border-radius: 12px;
    cursor: pointer;
}

.review__items img {
    margin-top: 25px;
    text-align: center;
    height: 140px;
    width: 140px;
}

.review__items h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.review__items p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.beten {
    width: 88%;
    text-align: center;
}

.review__button {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-left: 0!important;
    margin-bottom: 25px;
}

.review__button button {
    color: rgb(192, 229, 192);
    background: green;
    font-weight: bold;
}

.review__items {
    display: none;
}

.nextprebtn {
    background-color: #04AA6D;
    color: white;
    border-radius: 50%;
    font-size: large;
}

.ulmargin {
    margin: 15px !important;
}

.gap {
    margin-top: 20px !important;
    font-weight: 180;
    font-family: "Montserrat", sans-serif;
}

.color-p {
    font-weight: 700;
    color: #a25e41;
}
/*-----Card Component----*/


.emailnotcon {
	width:100%;
    height:60px;
    background-color:#faf7f5;
    padding: 35px 100px;
}

.emailnotrow1 {
    width:100%;
}

.emailnotright {
    float:right;
    width: 40%;
    margin-right: 8%;
}

.emailnotemailfield {
    padding: 18px 12px 0 0;
    cursor: pointer;
    color: #707070;
    font-size: 1rem;
    border: solid #a3a3a3;
    border-width: 0 0 1px;
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 12px 0 0;
    margin-right:15px;
    line-height: 1;
    letter-spacing: -0.5px;
    color: #2b2b2d;
    background-color: rgba(0,0,0,0);
}

input.emailnotemailfield:focus {
    outline-width: 0;
}

.emailnotemailsubmit {
    border-radius: 4px;
    background-color: #007584;
    color: #fff;
    padding: 9.5px 7px;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.5px;
    text-align: center;
    cursor: pointer;
    border:0;
    width:35%;
}

.emailnotrow2 {
    width:100%;
    display:inline-block;
    margin-top:20px;
    margin-left:5%;
}

.emailnotrow2 p a {
    color: #007584;
}

.emailnoth1 {
	width:40%;
    float:left;
    margin-left:5%;
}

/*---email end---*/

.footercon {
	background-color:#2b2b2d;
    padding:30px 10% 30px 10%;
    width:100%;
    height:240px;
    overflow:hidden;
}

.footerlogocol {
	width:100%;
    margin-bottom:20px;
}

.footercolcon {
	width:100%;
    margin-top:2%;
    margin-bottom:3%;
    padding-left:1.4%;
}

.footercol {
	width:16%;
    height:150px;
    float:left;
    color:white;
}

.footerbluemenu {
    line-height: 1.36;
}

.footerbluemenu a {
    text-decoration: none;
	color: #68d3d3;
}

.footercopyr {
    display:inline-block;
    width:100%;
    font-weight: 400;
    color: #fff;
    font-size: .75rem;
    margin-top:25px;
    padding-left:1.4%;
}

.footercopyr a {
	text-decoration:none;
    color: #fff;
}
